.create-movie-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.create-movie-card {
  width: 100%;
  border-radius: 12px;
  padding: 32px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.create-movie-card h1 {
  margin-bottom: 10px;
}

.create-movie-card h3 {
  margin-bottom: 10px;
}

.create-movie-card input,
.create-movie-card textarea,
.create-movie-card select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #374151;
  background: #141414;
  color: white;
  font-size: 15px;
  box-sizing: border-box;
}

.create-movie-card textarea {
  resize: vertical;
  min-height: 120px;
}

.genre-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 12px;
}
.genre-list label {
  display: flex;
  gap: 10px;
  border: 1px solid rgb(45, 45, 45);
  align-items: center;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.2s ease;
}
.genre-list input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.genre-list label:hover {
  background: #3b3b31;
}

.actor-item,
.director-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 12px;
  padding: 12px;
  border-radius: 8px;
}

.actor-item span,
.director-item span {
  min-width: 180px;
  font-weight: 600;
}

.actor-item input {
  flex: 1;
}

.actor-item button,
.director-item button {
  background: #dc2626;
  color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.actor-item button:hover,
.director-item button:hover {
  background: #b91c1c;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}

.form-actions button {
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.form-actions button[type="submit"] {
  background: #2563eb;
  color: white;
}

.form-actions button[type="submit"]:hover {
  background: #1d4ed8;
}

.cancel-btn {
  background: #6b7280;
  color: white;
}

.cancel-btn:hover {
  background: #4b5563;
}
